@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary:0 0% 9%;
    --primary-foreground: 0 0% 98%;
    /* Atualizado para a cor #BD995D */
    --secondary: 37 33% 54%;
    --info: 200 100% 27%;

    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    /* Border atualizado para cor #B0B0B0 */
    --border: 0 0% 69%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 9%;
    /* Atualizado para a cor #BD995D */
    --secondary: 37 33% 54%;
    --info: 200 100% 27%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    /* Border atualizado para cor #B0B0B0 */
    --border: 0 0% 69%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  background: #d5d5d5;
  overflow-x: hidden;
}

.bg-custom-menu {
  background: linear-gradient(90deg, #e1e1e1 42%, #cec9c7 100%);
}

.bg-footer-image {
  background-image: url("/images/bg-fundo-footer.svg");
  background-position: 0 4rem;
  /* Desloca a imagem 20px para baixo */
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-custom-judgment-guidelines {
  border-radius: 1.375rem;
  background: linear-gradient(20deg, #e5e4e4 18.5%, #9a8d85 186.02%);
}

.scroll-custom-editais::-webkit-scrollbar {
  width: 0.9375rem;
  /* Largura da barra de rolagem */
}

.scroll-custom-editais::-webkit-scrollbar {
  width: 0.8rem;
  /* Largura da barra de rolagem */
}

.scroll-custom-editais::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  /* Cor da "thumb" */
  border-radius: 0.25rem;
  /* Bordas arredondadas */
}

.scroll-custom-editais::-webkit-scrollbar-track {
  background-color: transparent;
  /* Cor do "track" */
}

.bg-custom-scale {
  background: linear-gradient(90deg, #e1e1e1 42%, #cec9c7 100%);
}

.bg-card-legislacao {
  background: url("/images/noise.svg") lightgray 0% 0% / 71.07091546058655px 71.07091546058655px repeat;
}

.h1 {
  @apply font-[Inter] text-[#000] text-4xl font-bold;
}


.h2 {
  @apply font-[Inter] text-info text-[1.60rem] leading-[1.78rem] font-bold;
}

.bg-painel-transparencia {
  background: linear-gradient(20deg, #E5E4E4 18.5%, #9A8D85 186.02%);
  
}

.clip-path-custom {
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 0 100%);
}